<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="UTF-8">
  <meta name="baseUrl" content="http://localhost:4200/login/">
  <title>Login</title>

</head>

<form>
  <div class="container">
    <h2>Login</h2>

    <div>
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Enter username"
        [(ngModel)]="username">
      <br>
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password"
        [(ngModel)]="password">
    </div>
    <br>
    <button (click)=checkLogin() class="btn btn-primary">Submit</button>

    <br><br>

    <button type="submit" class="btn btn-success">
      <a routerLink='/register'>
        <font color="white">
          Sign in
        </font>
      </a>
    </button>
  </div>
</form>

</html>