<form method="post" action="register.php">
    <h2>Register</h2>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Username" ng-model="regi.username"> 
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="regi.password">
    </div>

    <div class="form-group">
        <label for="nickname">Nickname</label>
        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Nickname" ng-model="regi.nickname">
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="regi.email">
    </div>

    <input type="submit" class="btn btn-success" value="Register">
</form>